body {
	background-color: #FEFEFE;
}

.skin-box-bd,
.menu-list .menu {
	background: none;
	font-size: 0;
	line-height: 0;
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.skin-box-bd .all-cats {
	_width: auto;
	max-width: none;
	height: auto;
	margin: 0;
	float: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
}

.menu-list {
	background: none;
	width: auto;
	height: auto;
	float: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin: 0;
}

.menu-list .link,
.menu-list .menu-selected .title,
.menu-list .menu-hover .link,
.popup-content,
.all-cats-popup .snd-pop .snd-cat-hd-hover {
	background: none;
}

.all-cats-popup .popup-content {
	width: 100%;
}

.all-cats-popup .snd-pop .snd-cat-hd-hover a {
	text-decoration: underline;
	padding-left: 17px;
}

.all-cats .link .popup-icon,
.menu-list .menu .link .popup-icon,
.all-cats-popup .has-children .fst-cat-icon {
	display: none;
	background: none;
}

.all-cats-popup .cats-tree .fst-cat {
	height: auto;
	border: none;
	float: none;
	width: auto;
	_zoom: 1;
}

.title {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

.menu-list .link,
.popup-content {
	border: none;
	font-size: 12px;
}

.cats-tree {
	margin: 0;
	padding: 0;
	background: none;
}

.cats-tree h4 {
	height: auto;
	font-weight: normal;
	background: none;
}

.cats-tree h4:after {
	height: 0;
	overflow: hidden;
}

.fst-cat-icon,
.snd-cat-icon {
	background: none;
	margin: 0;
	display: none;
}

.snd-cat-hd a {
	padding-left: 15px;
}

.skin-box-bd,
.menu-list .menu {
	height: 30px;
}

.skin-box-bd {
	text-align: left;
	background-color: #7F6BE8;
}

.menu-list .menu-hover {
	background-color: #7F6BE8;
}

.menu-list .link {
	padding: 0 20px;
}

.menu-list .menu .link .title {
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.menu-list .menu-hover .link .title {
	color: #FFFFFF;
}

.link .title {
	font-family: 微软雅黑;
}

.menu-list .menu .link .popup-icon {
	border: 4px solid #7F6BE8;
	border-top-color: #FFFFFF;
	margin-left: 10px;
	margin-top: 13px;
	font-size: 0;
	width: 0;
	height: 0;
	display: block;
	_display: inline;
	overflow: hidden;
}

.menu-list .menu-hover .link .popup-icon {
	border-color: #7F6BE8;
	border-top-color: #FFFFFF;
}

.all-cats {
	background-color: #7F6BE8;
}

.all-cats-hover {
	background-color: #FFFFFF;
}

.all-cats .link {
	padding: 0 20px;
	width: 80px;
	background: none;
	border: none;
	height: 30px;
	line-height: 30px;
}

.all-cats .link .title {
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	font-family: 微软雅黑;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.all-cats-hover .link .title {
	color: #7F6BE8;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.menu-list {
	width: 830px;
}

.all-cats .link .popup-icon {
	border: 5px solid #7F6BE8;
	border-top-color: #FFFFFF;
	margin: 12.5px 0px 0 0;
	float: right;
	font-size: 0;
	width: 0;
	height: 0;
	display: block;
	_display: inline;
	overflow: hidden;
}

.all-cats-hover .link .popup-icon {
	border-color: #FFFFFF;
	border-top-color: #7F6BE8;
}

.all-cats-popup {
	background-color: #7F6BE8;
	text-align: left;
	width: 180px;
}

.all-cats-popup .cats-tree .cat-hd-hover {
	background-color: #000000;
}

.all-cats-popup .cats-tree .snd-pop-inner {
	_background: none;
	background: #000000;
}

.all-cats-popup .cats-tree .fst-cat {
	border-bottom: 1px solid #7F6BE8;
}

.all-cats-popup .cats-tree .fst-cat .fst-cat-hd .cat-name {
	color: #FFFFFF;
	width: 75%;
	padding-left: 20px;
}

.all-cats-popup .cats-tree .cat-hd-hover .fst-cat-hd .cat-name {
	color: #FFFFFF;
}

.all-cats-popup .snd-pop .snd-cat-hd a {
	color: #FFFFFF;
}

.all-cats-popup .snd-pop .snd-cat-hd-hover {
	background: none;
}

.all-cats-popup .cat-hd a {
	font-family: 微软雅黑;
	height: 30px;
	line-height: 30px;
	position: static;
}

.all-cats-popup .has-children .fst-cat-icon {
	border: 4px solid #7F6BE8;
	border-left-color: #FFFFFF;
	margin-right: 8px;
	margin-top: 11px;
	position: static;
	font-size: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
	_display: inline;
	float: right;
}

.all-cats-popup .cat-hd-hover .fst-cat-icon {
	border-color: #000000;
	border-left-color: #FFFFFF;
}

.menu-popup-cats {
	background-color: #7F6BE8;
	width: 150px;
}

.menu-popup-cats .sub-cat-hover {
	background-color: #000000;
}

.menu-popup-cats .sub-cat {
	border-bottom: 1px solid #7F6BE8;
	height: 30px;
	line-height: 30px;
	width: auto;
}

.menu-popup-cats .sub-cat a {
	color: #FFFFFF;
	width: auto;
	height: auto;
	font-family: 微软雅黑;
}

.menu-popup-cats .sub-cat-hover a {
	color: #FFFFFF;
}