/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}



.topBannerTitleText {
  background: linear-gradient(45deg, #399cff, #00c775 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .topBannerTitleText:hover {
  border-bottom: solid 2px;
} */

html[data-theme='dark'] .topBannerTitleText {
  background: linear-gradient(45deg, #399cff, #00ff95 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}